body{
    overflow: scroll;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
    width: 33%;
}

li a {
    display: inline-block;
    //color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.tab-content {
    padding: 20px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

li a:hover:not(.active) {
    
}

li.active {
    border: none;
    color: #4285F4 !important;
    background: transparent;
    border-bottom: 2px solid #4285f4;
}

.heartImg{
    background-image: url('./main.js');
    margin-top: 12px;
    width: 24px;
    height: 20px;
    float:right;
}
.heartImg:hover{
    cursor:pointer;
}
.tab-content{
    padding-bottom: 35px;
    line-height: 1.4;
}

